<div class="summary">
  <div class="title">India Report Summary</div>
  <div class="data-blocks-group">
    <div class="data-blocks">
      <div class="data-block-title">Total Confirmed</div>
      <div class="data-block-value">{{INData.TotalConfirmed}}</div>
    </div>
    <div class="data-blocks">
      <div class="data-block-title">Total Recovered</div>
      <div class="data-block-value">{{INData.TotalRecovered}}</div>
    </div>
    <div class="data-blocks">
      <div class="data-block-title">Total Deaths</div>
      <div class="data-block-value">{{INData.TotalDeaths}}</div>
    </div>

  </div>
</div>
