.summary {
  background-color: aqua;
  /* width: 150%; */
  margin: 0 auto;
  padding: 1rem;

}

.title {
  width: 100%;
  background-color: antiquewhite;
  padding: 1rem 0;
  text-shadow: 1px 2px rgb(80, 202, 202);
}

.data-blocks {
  padding: 10px;
  margin: 5px;
  border-bottom: 1px solid rgb(11, 102, 102);
}

.data-blocks:last-child {
  border-bottom: none;
}
